
@font-face {
    font-family: Roboto; 
    src: url(assets/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.menu {
    width: 358px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    background: #CCCCCC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.menu__item {
    box-sizing: inherit;
    list-style-type: none;
    width: inherit;
    padding: 10px 20px;
    overflow: hidden;
}

.menu__item:hover {
    background: #9C9C9C;
}